<app-header></app-header>
<main class="container">
<div class="row mt-4">
  <h1 class="col-md-10" >Modificar</h1>
  <div class="col-md-2">
    <button [routerLink]="['/usuarios']" routerLinkActive="router-link-active" class="btn btn-danger col-md-12"> Regresar </button>
  </div>
</div>
  <form (ngSubmit)="modificarSubmit( formR )"  #formR="ngForm" *ngIf='registro'>
    
    <div class="form-group container" >


    <div class="row mt-5">
      <div class="col-md-6 mb-3">
        <label for="formNombre" class="mb-2">  Nombre</label>
        <input type="text" class="form-control" name="nombre" id="formNombre" placeholder="Nombre" required [(ngModel)]="registro.nombre" minlength="2">
      </div>
      <div class="col-md-6 mb-3">
        <label for="formApellido" class="mb-2">Apellido(s)</label>
        <input type="text" class="form-control" name="apellido" id="formApellido" placeholder="Apellido(s)" required [(ngModel)]="registro.apellido" minlength="2">
      </div>
    </div>

    <div class="row">
      <div class="col-md-4 mb-3">
        <label for="formRol" class="mb-2"> Rol</label>
        <select class="form-control" id="formRol" name="rol" [(ngModel)]="registro.rol">
          <option hidden value="">Seleccione</option>
          <option>Administrador</option>
          <option>Editor</option>
        </select>
      </div>

      <div class="col-md-4">
        <label for="formPuesto" class="mb-2"> Puesto</label>
        <input type="text" class="form-control" name="puesto" id="formPuesto" placeholder="Puesto" required [(ngModel)]="registro.puesto">
      </div>

      <div class="col-md-4">
        <label for="formDepto" class="mb-2"> Departamento</label>
        <input type="text" class="form-control" name="depto" id="formDepto" placeholder="Departamento" required [(ngModel)]="registro.depto">
      </div>

    </div>

    <div class="row">
      <div class="col mb-3">
        <label class="mb-2">Estado</label>
        <br>

        <button *ngIf="registro.habilitado" 
                (click) = "registro.habilitado = false"
                class="btn btn-outline-success w-50" type="button">
          Habilitar
        </button>

        <button *ngIf="!registro.habilitado" 
                (click) = "registro.habilitado = true"
                class="btn btn-outline-danger w-50" type="button">
          Deshabilitar
        </button>
      </div>
    </div>

    <div class="form-group">
        <input type="submit" class="btn btn-primary w-25" value="Modificar">
    </div>

    <div class="col-md-4" style="display: none;" >
      <label for="formId" class="mb-2"> Id</label>
      <input type="text" class="form-control" name="id" id="formId" placeholder="Id" required [(ngModel)]="registro.id">
    </div>

  </div>

  </form>

</main>