.container{
    color: white;
    width: min(90%, 900px);
}

form{
    margin: 0 auto;
    color: white;
}

.botones{
    display: flex;
    flex-direction: column;
}

.botones button{
    width: 100%;
}


@media(min-width: 768px){
    .botones{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .botones button{
        width: 30%;
    }

}