<app-header></app-header>
<div class="container mb-4">
    <div class="row mt-5">
        <h1 class="text-white col-10">Agregar</h1>
        <div class="col-lg-2">
            <button class="btn btn-danger col-lg-12" routerLink="/comunicados">
             <i class="bi bi-arrow-left-circle-fill"></i>
             Regresar
          </button>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <form action="">
                <div class="row">
                    <div class="col cont-inputs">
                        <label for="" class=" label-form text-white">Titulo del comunicado:</label>
                        <input type="text" name="tituloComunicado" id="tituloComunicado" class="mb-3">
                        <label for="" class=" label-form text-white">Mensaje:</label>
                        <textarea name="textComunicado" id="textComunicado" cols="30" rows="10" class="mb-3"></textarea>
                        <label for="" class=" label-form text-white">Seleccionar Archivo:</label>
                        <input type="file" name="ArchComunicado" id="ArchComunicado" class="mb-3 text-white">
                    </div>
                </div>

                <hr>
                <div class="row" style="display: flex; justify-content:center;">
                    <div class="form-group text-center col-md-4">
                        <button type="submit" class="btn btn-primary btn-lg w-100">
                         <i class="bi bi-save"></i>
                         Publicar comunicado
                      </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<app-footer></app-footer>