<app-header>

</app-header>
<button routerLink="/cuenta/add" class="btn btn-primary der">Agregar</button>
<div class="contGeneral">


    <table *ngIf="!cargando && Cliente.length >0" class="table text-white tablaCuentas ">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Empresa</th>
                <th scope="col">Nombre del dominio</th>
                <th scope="col">Direccion IP</th>
                <th scope="col">estado</th>
                <th scope="col">Ver</th>
                <th scope="col">Modificar</th>
                <th scope="col">Eliminar</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let Cliente of Cliente; let i = index">
                <td scope="row">{{ i + 1}}</td>
                <td>{{Cliente.nomcli}}</td>
                <td>{{Cliente.domcli}}</td>
                <td>{{Cliente.dirip}}</td>
                <td>
                    <label *ngIf="Cliente.estado" class="green">Activo</label>
                    <label *ngIf="!Cliente.estado" class="red">Inactivo</label>
                </td>

                <td class="col-2"><button class="btn btn-primary" [routerLink]="['/mostrar', Cliente.ids ]"> Ver
                    </button></td>
                <td class="col-2"><button class="btn btn-secondary"
                        [routerLink]="['/cuenta', Cliente.ids ]">Modificar</button></td>

                <td class="col-2">
                    <button class="btn btn-danger" (click)="borrarClient( Cliente, i ) ">Eliminar</button>
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    ...
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary">Save changes</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>

        </tbody>
    </table >
    <div *ngIf="!cargando && Cliente.length === 0" 
    class="alert alert-warning text-center mt-3 animated fadeIn faster tablaCuentas">
        <h4 class="alert-heading">No hay registros</h4>
        <p>
            <i class="fa fa-exclamation fa-2x"></i>
        </p>
    </div>

    <div *ngIf="cargando" class="alert alert-info text-center mt-3 animated fadeIn faster tablaCuentas">
        <h4 class="alert-heading">Cargando</h4>
        <p>
            <i class="fa fa-sync-alt fa-spin fa-2x"></i>
        </p>
        <p class="mb-0">
            Espere por favor
        </p>
    </div>
</div>