.tablaCuentas {
    margin: auto;
    margin-top: 30px;
    width: 85%;
    overflow-y: hidden;
}
.green{
    color: lawngreen;
}
.red{
    color: red;
}
.der{
    margin-left: 8%;
    margin-top: 30px;
}