<app-header></app-header>
<div class="container encabezado">
    <div class="row mt-4">
        <h1 class="text-white col-12">Cuentas</h1>
    </div>
</div>

<!-- <div class="container table-responsive">


    <table *ngIf="!cargando && Cliente.length >0" class="table text-white  ">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Empresa</th>
                <th scope="col">Dominio</th>
                <th scope="col">Direccion IP</th>
                <th scope="col">Estado</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let Cliente of Cliente; let i = index">
                <td scope="row">{{ i + 1}}</td>
                <td>{{Cliente.nomcli}}</td>
                <td>{{Cliente.domcli}}</td>
                <td>{{Cliente.dirip}}</td>
                <td>
                    <label *ngIf="Cliente.estado" class="green">Activo</label>
                    <label *ngIf="!Cliente.estado" class="red">Inactivo</label>
                </td>

                <td class="" style="display: flex; justify-content: center;">

                    <button class="btn btn-primary me-3" [routerLink]="['/mostrar', Cliente.ids ]">
                        <i class="bi bi-info-circle-fill"></i>
                    </button>

                    <button class="btn btn-secondary me-3" [routerLink]="['/cuenta', Cliente.ids ]">
                        <i class="bi bi-pencil-square"></i>
                    </button>

                    <button class="btn btn-danger me-3" (click)="borrarClient( Cliente, i ) ">
                        <i class="bi bi-trash-fill"></i>
                    </button>
                </td>
            </tr>

        </tbody>
    </table>
    <div *ngIf="!cargando && Cliente.length === 0"
        class="alert alert-warning text-center mt-3 animated fadeIn faster tablaCuentas">
        <h4 class="alert-heading">No hay registros</h4>
        <p>
            <i class="fa fa-exclamation fa-2x"></i>
        </p>
    </div>

    <div *ngIf="cargando" class="alert alert-info text-center mt-3 animated fadeIn faster tablaCuentas">
        <h4 class="alert-heading">Cargando</h4>
        <p>
            <i class="fa fa-sync-alt fa-spin fa-2x"></i>
        </p>
        <p class="mb-0">
            Espere por favor
        </p>
    </div>
</div> -->



<div class="container mt-2">

    <div class="row" style="justify-content: space-between;">
        <div class="col-lg-2 mb-4">
            <button routerLink="/cuenta/add" class="btn btn-primary col-lg-12">
                <i class="bi bi-cloud-arrow-up-fill me-1"></i> Agregar
            </button>
        </div>
        <div class="mat-elevation-z8 buscador mb-4 text-white col-lg-6">
            <input class="bg-dark" matInput (keyup)="applyFilter($event)" placeholder="Buscar" #input>
        </div>
    </div>

    <div class="mat-elevation-z8 table-responsive">
        <table mat-table [dataSource]="dataSource" matSort class="bg-dark">

            <!-- Position Column -->
            <ng-container matColumnDef="#">
                <th mat-header-cell *matHeaderCellDef style="color: black !important;"> # </th>
                <td mat-cell *matCellDef="let element; let i = index"> {{(i+1) +
                    (paginator.pageIndex*paginator.pageSize)}}</td>
            </ng-container>

            <!-- Cliente Column -->
            <ng-container matColumnDef="nomcli">
                <th mat-header-cell *matHeaderCellDef mat-sort-header style="color: black !important;"> Empresa </th>
                <td mat-cell *matCellDef="let element"> {{element.nomcli}}</td>
            </ng-container>

            <!-- Dominio Column -->
            <ng-container matColumnDef="domcli">
                <th mat-header-cell *matHeaderCellDef mat-sort-header style="color: black !important;"> Dominio </th>
                <td mat-cell *matCellDef="let element"> {{element.domcli}} </td>
            </ng-container>

            <!-- IP Column -->
            <ng-container matColumnDef="dirip">
                <th mat-header-cell *matHeaderCellDef mat-sort-header style="color: black !important;"> Dirección IP </th>
                <td mat-cell *matCellDef="let element"> {{element.dirip}} </td>
            </ng-container>

            <!-- Estado Column -->
            <ng-container matColumnDef="estado">
                <th mat-header-cell *matHeaderCellDef mat-sort-header style="color: black !important;"> Estado </th>
                <td mat-cell *matCellDef="let element">
                    <label *ngIf="element.estado" class="badge rounded-pill bg-success"> Activo </label>
                    <label *ngIf="!element.estado" class="badge rounded-pill bg-danger">Inactivo</label>
                </td>
            </ng-container>

            <ng-container matColumnDef="ids">
                <th mat-header-cell *matHeaderCellDef style="text-align: center; color: black !important;" > Opciones </th>
                <!-- <td> {{element.ids}} </td> -->
                <td mat-cell *matCellDef="let element; let i = index" style="display: flex;">
                    <button class="btn btn-primary me-3" [routerLink]="['/mostrar', element.ids ]">
                        <i class="bi bi-info-circle-fill"></i>
                    </button>

                    <button class="btn btn-secondary me-3" [routerLink]="['/cuenta', element.ids ]">
                        <i class="bi bi-pencil-square"></i>
                    </button>

                    <button *ngIf="this.rol === '12345'" class="btn btn-danger me-3"
                        (click)="borrarClient( element, (i) + (paginator.pageIndex*paginator.pageSize) ) ">
                        <i class="bi bi-trash-fill"></i>
                    </button>
                </td>
            </ng-container>


            <tr mat-header-row *matHeaderRowDef="displayedColumns" class="bg-light"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

            <!-- Row shown when there is no matching data. -->
            <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="4">No hay datos de acuerdo a la búsqueda "{{input.value}}"</td>
            </tr>

        </table>


        <!-- showFirstLastButtons -->
    </div>
    <mat-paginator [pageSizeOptions]="[10, 25, 50, 100]" showFirstLastButtons></mat-paginator>
</div>

<app-footer></app-footer>