<app-header></app-header>

<div></div>
<div ></div> 
  


<div class="container mt-4 text-white">
  <h1>Analisis SEO</h1>
  <section id="auth-button"></section>
  <section id="view-selector"></section>
  <section id="timeline" style="width: 100%;"></section>
</div> 



<div class="container mt-4 text-white">

  <h1>Analisis SEO</h1>
  <div id="view-name"></div>
  <div id="from-dates"></div> 
  <div id="embed-api-auth-container"></div>
  <div id="view-selector-container"></div>
  <div id="data-chart-1-container"></div>
  <div id="date-range-selector-1-container"></div>
  <div id="data-chart-2-container"></div>
  <div id="date-range-selector-2-container"></div>
  <div id="scriptAnalytics"></div>
</div>
