h1{
    height:70%; 
    display:flex; 
    justify-content:center; 
    align-items:center; 
    font-size:40px;
}

@media(min-width:412px){
    h1{
        font-size:60px;
    }
}

@media(min-width:768px){
    h1{
        font-size:80px;
    }
}

@media(min-width:1024px){
    h1{
        font-size:100px;
    }
}