<app-header></app-header>
<main class="container">
    <div class="row mt-4"> 
    <h1 class="col-md-10 text-white ">Usuarios</h1>
    <div class="col-md-2">
            <button [routerLink]="['/registro']" routerLinkActive="router-link-active" class="boton-agregar btn btn-primary col-md-12"> Agregar </button>
    </div>    
    </div>
    <div class="table-responsive">
    <table class="table mt-3">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre</th>
                <th scope="col">Apellido</th>
                <th scope="col">Correo</th>
                <th scope="col">Rol</th>
                <th scope="col">Puesto</th>
                <th scope="col">Departamento</th>
                <th scope="col">Habilitado</th>
                <th scope="col">Last</th>
                <th scope="col">Handle</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let usuario of usuarios; let i = index">
                <th scope="row">{{ i + 1 }}</th>
                <td>{{ usuario.nombre }}</td>
                <td>{{ usuario.apellido }}</td>
                <td>{{ usuario.correo }}</td> 
                <td>{{ usuario.rol }}</td>
                <td>{{ usuario.puesto }}</td>
                <td>{{ usuario.depto }}</td>
                <td>{{ usuario.habilitado }}</td>
                <td style="display: none;" >{{ usuario.idTok }}</td>
                <td class="">
                    <button [routerLink]="['/modificar', usuario.id]" routerLinkActive="router-link-active" class="btn btn-warning"> Modificar </button>
                </td>
                <td class="">
                    <button class="btn btn-danger" (click)="eliminarUsuario( usuario, i )">Eliminar</button>
                </td>
            </tr>
        </tbody>
    </table>
    </div>
</main>