<app-header></app-header>
<main class="container">

  <div class="container encabezado">
    <div class="row mt-4">
      <h1 class="text-white col-12">Accesos</h1>
    </div>
  </div>

  <div class="mt-2">

    <div class="row" style="justify-content: space-between;">
      <div class="col-lg-2 mb-4">
        <button type="button" class="btn btn-primary col-lg-12" data-bs-toggle="modal" data-bs-target="#agregarModal">
          <i class="bi bi-cloud-arrow-up-fill me-1"></i> Agregar</button>
      </div>

      <div class="mat-elevation-z8 buscador mb-4 text-white col-lg-6">
        <input class="bg-dark" matInput (keyup)="applyFilter($event)" placeholder="Buscar" #input>
      </div>
    </div>

    <div class="mat-elevation-z8 table-responsive">
      <table mat-table [dataSource]="dataSource" matSort class="bg-dark">

        <!-- Position Column -->
        <ng-container matColumnDef="#">
          <th mat-header-cell *matHeaderCellDef style="color: black !important;"> # </th>
          <td mat-cell *matCellDef="let element; let i = index"> {{(i+1) +
            (paginator.pageIndex*paginator.pageSize)}}</td>
        </ng-container>

        <!-- Proveedor Column -->
        <ng-container matColumnDef="proveedor">
          <th mat-header-cell *matHeaderCellDef mat-sort-header style="color: black !important;"> Proveedor </th>
          <td mat-cell *matCellDef="let element"> {{element.proveedor}}</td>
        </ng-container>

        <!-- Usuario Column -->
        <ng-container matColumnDef="usuario">
          <th mat-header-cell *matHeaderCellDef mat-sort-header style="color: black !important;"> Usuario </th>
          <td mat-cell *matCellDef="let element"> {{element.usuario}} </td>
        </ng-container>

        <!-- Contraseña Column -->
        <ng-container matColumnDef="contrasena">
          <th mat-header-cell *matHeaderCellDef mat-sort-header style="color: black !important;"> Contraseña </th>
          <td mat-cell *matCellDef="let element"> {{element.contrasena}} </td>
        </ng-container>

        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef style="text-align: center; color: black !important;"> Opciones </th>
          <td mat-cell *matCellDef="let element; let i = index" class="opciones" style="padding: 0;">
            <!-- [routerLink]="['/perfil', element.id ]" -->
            <button class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#verModal"
            (click)="verModalMetodo(element)">
              <i class="bi bi-info-circle-fill"></i>
            </button>

            <!-- [routerLink]="['/modificar', element.id ]" -->
            <button class="btn btn-secondary ms-3 btn-sm" data-bs-toggle="modal" data-bs-target="#modificarModal"
              (click)="modificarModalMetodo(element)">
              <i class="bi bi-pencil-square"></i>
            </button>

            <button *ngIf="this.rol === '12345' " class="btn btn-danger ms-3 btn-sm"
              (click)="eliminarAcceso( element, (i) + (paginator.pageIndex*paginator.pageSize) ) ">
              <i class="bi bi-trash-fill"></i>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns" class="bg-light"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">No hay datos de acuerdo a la búsqueda "{{input.value}}"</td>
        </tr>

      </table>
      <!-- showFirstLastButtons -->
    </div>
    <mat-paginator [pageSizeOptions]="[15, 30, 50, 100]" showFirstLastButtons></mat-paginator>
  </div>



  <div class="modal fade" id="agregarModal" tabindex="-1" aria-labelledby="agregarModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="agregarModalLabel">Agregar cuenta</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="agregarForm" (ngSubmit)="agregarSubmit()">
            <div class="mb-3">
              <!-- <label for="recipient-agregar" class="col-form-label"></label> -->
              <input type="text" class="form-control" id="recipient-proveedor" placeholder="Proveedor"
                formControlName="proveedor">
            </div>
            <div class="mb-3">
              <input type="text" class="form-control" id="recipient-usuario" placeholder="Usuario"
                formControlName="usuario">
            </div>
            <div class="mb-3">
              <input type="text" class="form-control" id="recipient-contrasena" placeholder="Contraseña"
                formControlName="contrasena">
            </div>
            <div class="mb-3">
              <!-- <label for="message-text" class="col-form-label">Message:</label> -->
              <textarea class="form-control" id="message-text" placeholder="Observaciones"
                formControlName="comentario"></textarea>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-primary" (click)="agregarSubmit()">Guardar</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal modificar -->
  <div class="modal fade" id="modificarModal" tabindex="-1" aria-labelledby="modificarModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modificarModalLabel">Modificar</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form (ngSubmit)="modificarSubmit( formR )" #formR="ngForm">
          <div class="modal-body">

            <div class="mb-3">
              <label for="recipient-modificarProveedor" class="col-form-label">Proveedor</label>
              <input type="text" class="form-control" id="recipient-modificarProveedor" placeholder="Proveedor"
                [(ngModel)]="modificarModel.proveedor" name="proveedor">
            </div>
            <div class="mb-3">
              <label for="recipient-modificarUsuario" class="col-form-label">Usuario</label>
              <input type="text" class="form-control" id="recipient-modificarUsuario" placeholder="Usuario"
                [(ngModel)]="modificarModel.usuario" name="usuario">
            </div>
            <div class="mb-3">
              <label for="recipient-modificarContrasena" class="col-form-label">Contraseña</label>
              <input type="text" class="form-control" id="recipient-modificarContrasena" placeholder="Contraseña"
                [(ngModel)]="modificarModel.contrasena" name="contrasena">
            </div>
            <div class="mb-3">
              <label for="message-modificarText" class="col-form-label">Observaciones</label>
              <textarea class="form-control" id="message-modificarText" placeholder="Observaciones"
                [(ngModel)]="modificarModel.comentario" name="comentario"></textarea>
            </div>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            <button type="submit" class="btn btn-primary">Guardar</button>
          </div>
        </form>
      </div>
    </div>
  </div>




  <!-- Modal ver -->
  <div class="modal fade" id="verModal" tabindex="-1" aria-labelledby="verModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="verModalLabel">Datos</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form>
          <div class="modal-body">
            <div class="mb-3">
              <label for="recipient-verProveedor" class="col-form-label">Proveedor</label>
              <input type="text" class="form-control" id="recipient-verProveedor" placeholder="Proveedor"
                [(ngModel)]="verModel.proveedor" name="proveedor" disabled>
            </div>
            <div class="mb-3">
              <label for="recipient-verUsuario" class="col-form-label">Usuario</label>
              <input type="text" class="form-control" id="recipient-verUsuario" placeholder="Usuario"
                [(ngModel)]="verModel.usuario" name="usuario" disabled>
            </div>
            <div class="mb-3">
              <label for="recipient-verContrasena" class="col-form-label">Contraseña</label>
              <input type="text" class="form-control" id="recipient-verContrasena" placeholder="Contraseña"
                [(ngModel)]="verModel.contrasena" name="contrasena" disabled>
            </div>
            <div class="mb-3">
              <label for="message-verText" class="col-form-label">Observaciones</label>
              <textarea class="form-control" id="message-verText" placeholder="Observaciones"
                [(ngModel)]="verModel.comentario" name="comentario" disabled></textarea>
            </div>

          </div>
          <div class="modal-footer">
            <!-- <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            <button type="submit" class="btn btn-primary">Guardar</button> -->
          </div>
        </form>
      </div>
    </div>
  </div>



</main>

<app-footer></app-footer>