<app-header></app-header>

<div class="container encabezado">
    <div class="row mt-4">
        <h1 class="col-12 text-white ">Comunicados</h1>
    </div>
</div>
<div class="container mt-2">
    <div class="row" style="justify-content: space-between;">
        <div class="col-lg-4 mb-4">
            <button [routerLink]="['/registro']" class="btn btn-primary col-lg-12">
            <i class="bi bi-cloud-arrow-up-fill me-1"></i> Crear comunicado
        </button>
        </div>
    </div>

    <div class="row">
        <div class="col contenedor-cs">

            <div class="card card-cs">
                <div class="contenedor-img-cs">
                    <img src="../../../assets/imagenes/imagenPerfil/avatar.jpg" class="card-img-top img-cs" alt="imagen usuario">
                </div>
                <div class="card-body contenedor-text-cs">
                    <h5>Titulo Comunicado</h5>
                    <p class="card-text">
                        Some quick example text to build on the card title and make up the bulk of the card's content. Some quick example text to build on the card title and make up the bulk of the card's content. Some quick example text to build on the card
                    </p>
                    <a href="" class="descargar-cs">Descargar archivo</a>
                </div>
                <div class="contenedor-fecha-cs">
                    <span class="">
                        Por: Omar Jimenez
                    </span>
                    <span class="">
                        Fecha: 17 de julio 2021
                    </span>
                </div>
            </div>
            <div class="card card-cs">
                <div class="contenedor-img-cs">
                    <img src="../../../assets/imagenes/imagenPerfil/avatar.jpg" class="card-img-top img-cs" alt="imagen usuario">
                </div>
                <div class="card-body contenedor-text-cs">
                    <h5>Titulo Comunicado</h5>
                    <p class="card-text">
                        Some quick example text to build on the card title and make up the bulk of the card's content. Some quick example text to build on the card title and make up the bulk of the card's content. Some quick example text to build on the card
                    </p>
                    <a href="" class="descargar-cs">Descargar archivo</a>
                </div>
                <div class="contenedor-fecha-cs">
                    <span class="">
                        Por: Omar Jimenez
                    </span>
                    <span class="">
                        Fecha: 17 de julio 2021
                    </span>
                </div>
            </div>
            <div class="card card-cs">
                <div class="contenedor-img-cs">
                    <img src="../../../assets/imagenes/imagenPerfil/avatar.jpg" class="card-img-top img-cs" alt="imagen usuario">
                </div>
                <div class="card-body contenedor-text-cs">
                    <h5>Titulo Comunicado</h5>
                    <p class="card-text">
                        Some quick example text to build on the card title and make up the bulk of the card's content. Some quick example text to build on the card title and make up the bulk of the card's content. Some quick example text to build on the card
                    </p>
                    <a href="" class="descargar-cs">Descargar archivo</a>
                </div>
                <div class="contenedor-fecha-cs">
                    <span class="">
                        Por: Omar Jimenez
                    </span>
                    <span class="">
                        Fecha: 17 de julio 2021
                    </span>
                </div>
            </div>
            <div class="card card-cs">
                <div class="contenedor-img-cs">
                    <img src="../../../assets/imagenes/imagenPerfil/avatar.jpg" class="card-img-top img-cs" alt="imagen usuario">
                </div>
                <div class="card-body contenedor-text-cs">
                    <h5>Titulo Comunicado</h5>
                    <p class="card-text">
                        Some quick example text to build on the card title and make up the bulk of the card's content. Some quick example text to build on the card title and make up the bulk of the card's content. Some quick example text to build on the card
                    </p>
                    <a href="" class="descargar-cs">Descargar archivo</a>
                </div>
                <div class="contenedor-fecha-cs">
                    <span class="">
                        Por: Omar Jimenez
                    </span>
                    <span class="">
                        Fecha: 17 de julio 2021
                    </span>
                </div>
            </div>
            <div class="card card-cs">
                <div class="contenedor-img-cs">
                    <img src="../../../assets/imagenes/imagenPerfil/avatar.jpg" class="card-img-top img-cs" alt="imagen usuario">
                </div>
                <div class="card-body contenedor-text-cs">
                    <h5>Titulo Comunicado</h5>
                    <p class="card-text">
                        Some quick example text to build on the card title and make up the bulk of the card's content. Some quick example text to build on the card title and make up the bulk of the card's content. Some quick example text to build on the card
                    </p>
                    <a href="" class="descargar-cs">Descargar archivo</a>
                </div>
                <div class="contenedor-fecha-cs">
                    <span class="">
                        Por: Omar Jimenez
                    </span>
                    <span class="">
                        Fecha: 17 de julio 2021
                    </span>
                </div>
            </div>

        </div>
    </div>


</div>
<app-footer></app-footer>