img{
    max-width: 100%; 
}

.cover {
    object-fit: cover;
    /* object-fit: contain; */
    /* object-fit: scale-down; */
}

label{
    color: white;
}

.form-group{
    margin-bottom: 5px;
}

.container{
    width: min(950px, 95%);
}

.contenedor-foto{
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    align-content: center;
}

.avatar{
    border-radius: 50%;
    border: 1px solid white;
    background-size: cover;
    height: 200px;
    width: 200px;
    max-height: 100%;
    /* max-width: 100%; */
    /*max-width: 200px;*/
}

:disabled{
    background-color: white;
}