<app-header></app-header>

<main class="container">
  <div class="row">
    <h1 class="col-md-4" >Registro</h1>
  </div>

  <form (ngSubmit)="registrarSubmit( formR )"  #formR="ngForm">
    
    <div class="form-group container">

    <div class="row mt-5">
      <div class="col-md-6 mb-3">
        <label for="formNombre" class="mb-2">  Nombre</label>
        <input type="text" class="form-control" name="nombre" id="formNombre" placeholder="Nombre" required [(ngModel)]="registro.nombre" minlength="2">
      </div>

      <div class="col-md-6 mb-3">
        <label for="formApellido" class="mb-2">Apellido(s)</label>
        <input type="text" class="form-control" name="apellido" id="formApellido" placeholder="Apellido(s)" required [(ngModel)]="registro.apellido" minlength="2">
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 mb-3">
        <label for="formCorreo" class="mb-2">Correo</label>
        <input type="email" class="form-control" name="correo" id="formCorreo" placeholder="Correo" required [(ngModel)]="registro.correo">
      </div>

      <div class="col-md-6 mb-3">
        <label for="formContrasena" class="mb-2">Contraseña</label>
        <input type="password" class="form-control" name="contrasena" id="formContrasena" placeholder="Contraseña" required [(ngModel)]="registro.password">
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <label for="formRol" class="mb-2"> Rol</label>
        <select class="form-control text-dark" id="formRol" name="rol" [(ngModel)]="registro.rol">
          <option value="">Seleccione</option>
          <option>Administrador</option>
          <option>Editor</option>
        </select>
      </div>

      <div class="col-md-4">
        <label for="formPuesto" class="mb-2"> Puesto</label>
        <input type="text" class="form-control" name="puesto" id="formPuesto" placeholder="Puesto" required [(ngModel)]="registro.puesto">
      </div>

      <div class="col-md-4">
        <label for="formDepto" class="mb-2"> Departamento</label>
        <input type="text" class="form-control" name="depto" id="formDepto" placeholder="Departamento" required [(ngModel)]="registro.depto">
      </div>

    </div>

    <!-- <div class="row">
      <div class="col-md-5">
        <label for="formFoto" class="mb-2"> Foto</label>
        <input type="file" class="form-control" name="foto" id="formFoto">
      </div>
    </div> -->

    <div class="form-group mt-4">
        <input type="submit" class="btn btn-primary w-25" value="Registrar">
    </div>

<!--    <div class="form-group mt-4">
      <a class="btn btn-light" (click) = 'onLoginGoogle()'>Google</a>
    </div> -->

  </div>

  </form>
</main>